@import 'custom';
@import '../node_modules/bootstrap/scss/bootstrap';

// Responsive typography sizes using Bootstrap mixins for the media querries
html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

// Sass extend example
.article-img {
  @extend .rounded;
  @extend .float-left;
  @extend .mr-3;
  margin-top: .5rem;
  width: 40%;
}
